* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 1240px ;
    grid-template-areas: 
    "h h h"
    "p p p"
    "f f f";
}

a {
    text-decoration: none;
}

header{
    grid-area: h;
    background-color: #7817FD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

header > img {
    height: 80px;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section{
    grid-area: p;
    background-color: #D39BFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(imgs/Group\ 41.png);
}

section img{
    width: 10vw;
    height: 10vw;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

form > input  {
    font-size: 2rem;
    background-color: #BDE867;
    color: white;
    border: none;
    border-radius: 30px;
    height: 130px;
    width: 80vw;

}

form > input:focus{
    background-color: #EBFFC1;

}

form > label{
    font-size: 2rem;
}

input[type="submit"]{
    margin-top: 20px;
    background-color: #020041 ;
    border-radius: 50px;
    width: 80VW;
}

input[type="submit"]:hover{
    background-color: #0600B4;
    color: rgb(0, 0, 0);
}

.caixa{
  
    padding: 40px;
    height: 100%;
    width: 1240px;
   
}

.desc {
    height: 400px;
    display: flex;
    
}

input[type="text"]{
    margin-bottom: 60px;
    margin-top: 60px;
}

input[type="password"]{
    margin-bottom: 60px;
}
.batata:hover{
    color: #d29bff;
}
footer{
    grid-area: f;
    background-color: #C1FF44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 10px;
    
}
.social{
 display: flex;
 
}
.social img{
    height: 90px;
    
}
.sdestaque{
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;

}
footer > ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    flex-direction: column;
}

.formtxt{
    margin-top: 100px;
}